{{define "config"}}
<div id="tab2" class="tab-content">
    <h4 class="title is-5 mt-5">Server Settings</h4>
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Setting</th>
                <th>Value</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Listen Port</td>
                <td>514</td>
                <td>UDP port for syslog messages</td>
            </tr>
            <tr>
                <td>Database Path</td>
                <td>/var/lib/aklog/logs.db</td>
                <td>Path to SQLite database file</td>
            </tr>
            <tr>
                <td>Log Retention</td>
                <td>30 days</td>
                <td>How long logs are kept before deletion</td>
            </tr>
        </tbody>
    </table>
</div>
{{end}}