{{define "config"}}
<div id="tab2" class="tab-content">
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Setting</th>
                <th>Value</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Listen Port</td>
                <td>514</td>
                <td>UDP port for syslog messages</td>
            </tr>
            <tr>
                <td>Database Path</td>
                <td>/var/lib/aklog/logs.db</td>
                <td>Path to SQLite database file</td>
            </tr>
        </tbody>
    </table>
</div>
{{end}}