{{define "host_filter"}}
<div class="level-item">
    <div class="control">
        <div class="dropdown" id="host-filter-dropdown">
            <div class="dropdown-trigger">
                <button class="button is-small" aria-haspopup="true" aria-controls="host-filter-menu">
                    <span>Host Filter</span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="host-filter-menu" role="menu">
                <div class="dropdown-content">
                    <a href="#" class="dropdown-item host-filter-item" data-host="">
                        All Hosts
                    </a>
                    <hr class="dropdown-divider">
                    {{range .Hosts}}
                    <a href="#" class="dropdown-item host-filter-item" data-host="{{.Host}}">
                        {{.Host}}
                    </a>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="level-item">
    <div id="host-filter-top" class="buttons has-addons">
        {{range .TopHosts}}
        <button class="button is-small host-filter-item" data-host="{{.Host}}">
            {{.Host}}
        </button>
        {{end}}
    </div>
</div>
<div class="level-item" id="active-host-filters" style="display: none;">
    <div class="tags">
        <!-- Active filter tags will be added here by JavaScript -->
    </div>
</div>
{{end}}
