{{define "logs"}}
<div id="tab1" class="tab-content">
    <div class="level">
        <div class="level-left">
            {{template "host_filter" .}}
        </div>
    </div>
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Source</th>
                <th>Severity</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {{template "messages" .}}
        </tbody>
    </table>
</div>
{{end}}
