{{define "messages"}}
<table class="table is-striped is-hoverable is-fullwidth">
    <thead>
    <tr>
        <th>Timestamp</th>
        <th>Source</th>
        <th>Severity</th>
        <th>Message</th>
    </tr>
    </thead>
    <tbody>
    {{if .Logs}}
    {{range .Logs}}
    {{template "log_row" .}}
    {{end}}
    {{else}}
    <tr>
        <td colspan="4" class="has-text-centered">No logs found</td>
    </tr>
    {{end}}
    </tbody>
</table>

<nav class="pagination is-centered" role="navigation">
    <a class="pagination-previous" {{if eq .Page 0}}disabled{{end}} data-page="{{subtract .Page 1}}">Previous</a>
    <a class="pagination-next" {{if ge .Page .MaxPage}}disabled{{end}} data-page="{{add .Page 1}}">Next</a>
    <ul class="pagination-list">
        <li><a class="pagination-link is-current" data-page="{{.Page}}">{{add .Page 1}}</a></li>
    </ul>
</nav>
{{end}}

{{define "log_row"}}
<tr class="{{.Class}}" data-source="{{.Source}}">
    <td class="timestamp-cell">{{.Timestamp}}</td>
    <td>{{.Source}}</td>
    <td>{{.Severity}}</td>
    <td class="message-cell" title="{{.Message}}">{{.Message}}</td>
</tr>
{{end}}
